* {
    padding: 0;
    margin: 0;
}

body,
html {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(./assets/bg.png) repeat;
    background-size: contain;
    overflow: hidden;

}

.rule {
    position: absolute;
    width: 45vw;
    height: 40vh;
    background: url(./assets/第二关.png) no-repeat;
    background-size: 100%;
    z-index: 99;
    /* pointer-events: none; */
    /* border: 1px solid black; */
}

.rule button {
    position: absolute;
    bottom: 78px;
    left: 49%;
    transform: translateX(-50%);
    width: 23%;
    height: 12%;
    opacity: 0;
}

.swirl-out-bck {
    -webkit-animation: swirl-out-bck 0.6s ease-in both;
    animation: swirl-out-bck 0.6s ease-in both;
}

@-webkit-keyframes swirl-out-bck {
    0% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
}

@keyframes swirl-out-bck {
    0% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-540deg) scale(0);
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }
}

.gamearea {
    position: relative;
    width: 80vw;
    height: 70vh;
    border: 1px solid black;
    overflow: hidden;
    /* background: url(./assets/gamearea-bg.JPG) no-repeat center; */
    /* background-size: cover; */
    background-color: rgba(228, 208, 181, .5);
}

.item {
    position: absolute;
    margin: 10px;
}

.search-item {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: absolute; */
    top: 10px;
    right: 95px;
    width: 130px;
    height: auto;
}

.medicine {
    position: relative;
    width: 100%;
    height: 130px;
    margin: 10px 0;
    border-radius: 10px;
    background: no-repeat center;
    background-size: contain;
    box-shadow: 0 4px 4px 0 rgba(60, 60, 67, .29);
    color: antiquewhite;
    padding-left: 10px;
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 2s ease-in-out;
    cursor: pointer;
    background-color: rgb(185, 172, 138);
}

.tishi {
    position: absolute;
    top: 50%;
    right: -28%;
    transform: translateY(-50%);
    width: 30px;
}

.medicine:hover {
    transform: scale(1.1);
}

.circle {
    position: absolute;
    top: 420px;
    left: 727px;
    width: 85px;
    height: 100px;
    border: 1px solid black;
}

.back {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.alert {
    position: absolute;
    top: 40px;
    left: 40vw;
    width: 200px;
    height: 50px;
    background-color: rgb(129, 224, 193);
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.clock {
    position: absolute;
    top: 55px;
    left: 180px;
    color: white;
}


.clockLine {
    /* position: absolute; */
    top: 50px;
    left: 100px;
    width: 200px;
    height: 20px;
    border-radius: 99px;
    /* background-color: black; */
    border: 1px solid black;
    overflow: hidden;
}

.full {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    /* transition: left 0.1s linear; */
}


.clock p {
    color: #e2c885;
    font-size: 35px;
}

.introduce {
    position: absolute;
    width: 25vw;
    height: 55vh;
    background: url(./assets/card.png) no-repeat;
    background-size: 100%;
    border-radius: 20px;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
}

.introduce p {
    width: 70%;
    height: 55%;
    overflow-y: scroll;
    margin: 125px auto;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(182, 163, 123, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(155, 150, 100);
    /*滑块颜色*/
}

.close {
    position: absolute;
    bottom: 48px;
    left: 49%;
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: antiquewhite;
    cursor: pointer;
    /* border: 1px solid black; */
}

.up {
    -webkit-animation: up 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: up 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes up {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

@keyframes up {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

.down {
    -webkit-animation: down 0.7s ease-in both;
    animation: down 0.7s ease-in both;
}

@-webkit-keyframes down {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

@keyframes down {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

/* 图片选错震动动画 */
.shock {
    -webkit-animation: shock 0.5s;
    animation: shock 0.5s;
}

@-webkit-keyframes shock {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes shock {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* 药材弹动动画 */
.duang {
    -webkit-animation: duang 1.2s both;
    animation: duang 1.2s both;
}

@-webkit-keyframes duang {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.45, 0.95, 1.2);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes duang {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}